*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.hp-bar-container, .xp-bar-container{
    position: relative;

    width: 100%;
    height: 1.5rem;

    background-color: #222;
    border: 2px solid black;
    border-radius: .25rem;

    text-align: center;


    .hp-label, .xp-label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        font-size: .9rem;

        color: white;
        text-shadow: 1px 1px 2px black;
        width: 100%;
        line-height: 1rem;
    }
    .hp-bar, .xp-bar {
        position: absolute;
        top: 0;
        z-index: 1;
        height: 100%;
    }
    .hp-bar{
        background-color: crimson;
    }
    .xp-bar {
        background-color: greenyellow;
    }
}

.dev{
    border: 1px red dashed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Comic Sans MS', cursive;
    color: crimson;
}