.farm-container {
  position: absolute;

  width: fit-content;
  aspect-ratio: 16/9;

  padding: 1rem;
  overflow-y: scroll;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;

  background-color: var(--bg-surface);
  border: .25rem solid var(--border-color);
  border-radius: 1rem;

  .header{
    width: 100%;
    display: flex;

    justify-content: space-between;
    font-size: 2rem;
    padding: 0.75rem;

    font-weight: bold;
    color: var(--text-main);

    svg{
      height: 1em;
      &:hover{
        color: var(--text-accent);
      }
    }
  }
  .farm__filters{
    display: flex;
    justify-content: center;
    gap: .25rem;
    margin-bottom: .75rem;
  }

  .farm__list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: .75rem;

    .routine-container{
      width: 15vw;
    }

    .routine-row {
      background: var(--bg-primary);
      border-radius: .5rem;
      border: 1px solid var(--border-color);

      padding: 0.75rem;
      aspect-ratio: 16/9;

      display: flex;
      justify-content: center;
      align-items: center;

      color: var(--text-main);

      &:hover {
        background-color: var(--bg-surface);
        border: 1px solid var(--border-accent);
        color: var(--text-accent);
      }

      &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
      }



        &.has-selected {
          border: 1px solid var(--border-accent);
          background: #2b4c7e; // TODO: add it to the color theme
          color: var(--text-muted);
        }

      &__character-picker {
        padding-top: 0.75rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        .picker-title {
          font-size: 0.85rem;
          color: var(--text-muted);
          margin-bottom: 0.5rem;
        }

        .character-grid {
          display: flex;
          gap: 0.25rem;
          justify-content: space-around;
          .character-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0.25rem;
            border-radius: 8px;
            cursor: pointer;
            transition: transform 0.15s ease, border-color 0.15s ease;

            width: 17.5%;

            &:hover:not(:disabled) {
              transform: translateY(-2px);
            }

            &.is-selected {
              border-color: #4caf50; //TODO: add it to the color theme
              background: #1b381e;
            }

            &.is-busy {
              opacity: 0.5;
              cursor: not-allowed;
              & .character-card__avatar{
                filter: grayscale(0.8);
              }
            }

            &__avatar {
              position: relative;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }

              .busy-tag {
                position: absolute;
                bottom: -.25rem;
                left: 50%;
                transform: translateX(-50%);
                font-size: 0.65rem;
                background: var(--busy-tag);
                padding: 1px .25rem;
                border-radius: .25rem;
              }
            }

            &__name {
              font-size: 0.5rem;
              margin-top: 0.3rem;
            }
          }
        }

      }
      &__start-btn{
        width: 100%;
      }
    }

  }

}