.main-menu{
    display: grid;
    gap: .5rem;
    grid-template: 1fr 3fr 1fr/ repeat(5, 1fr);
    grid-template-areas: 'character-dashboard character-dashboard character-dashboard character-dashboard character-dashboard'
'log log log log log'
    'bank jobs tasks farm setting';

    height: calc(100vh - 5rem);

    margin: 2.5rem;
    padding: 2.5rem;

    border: 1px solid #ccc;
    border-radius: 1rem;
}


.character-dashboard{
    grid-area: character-dashboard;
}
.-log{
    grid-area: log;
}
.-bank{
    grid-area: bank;
}
.-jobs{
    grid-area: jobs;
}
.-tasks{
    grid-area: tasks;
}
.-farm{
    grid-area: farm;
}
.-settings{
    grid-area: settings;
}