
.main-menu{
    display: grid;
    gap: .5rem;
    grid-template: repeat(7, 1fr) / 92.5% 7.5%;
    grid-template-areas:
    'character-dashboard character-dashboard'
    'log bank'
    'log farm'
    'log jobs'
    'log tasks'
    'log settings'
    'log log-out';

    height: calc(100vh - 5rem);

    margin: 2.5rem;
    padding: 2.5rem;

    border: .25rem solid var(--border-color);
    background-color: var(--bg-primary);
    border-radius: 1rem;
}


.character-dashboard{
    grid-area: character-dashboard;
}
.-logs{
    grid-area: log;
}
.-bank{
    grid-area: bank;
    display: flex;
    justify-content: center;
    color: var(--text-main);
    cursor: pointer;
    &:hover{
        color: var(--text-accent);
    }
}
.-jobs{
    grid-area: jobs;
}
.-tasks{
    grid-area: tasks;
}
.-farm{
    grid-area: farm;
    display: flex;
    justify-content: center;
    color: var(--text-main);
    cursor: pointer;
    &:hover{
        color: var(--text-accent);
    }
}
.-settings{
    grid-area: settings;
}
.-log-out{
    grid-area: log-out;
}